:root {
  --primario: #c86b85;
  --secundario: #e6a4b4;
  --beige: #f3d7ca;
  --hueso: #f5eee6;
}

/* Globales */
/*Ponerlo siempre en los proyectos para mejor rendimiento*/
html {
  font-size: 62.5%;
  box-sizing: border-box; /* Hack para Box Model*/
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 16px; /*1 rem = 10px*/
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(
    to top,
    var(--beige) 0%,
    white 100%
  ); /*Degradado de la página*/
}

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}

.boton {
  background-color: var(--secundario);
  color: var(--hueso);
  padding: 1rem 3rem;
  margin-top: 1rem;
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 0.5rem;
  width: 90%;
  text-align: center;
  border: none;
}

@media (min-width: 768px) {
  .boton {
    width: auto;
  }
}

.boton:hover {
    cursor: pointer;
}

.sombra {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(10, 9, 10, 0.13);
  -moz-box-shadow: 0px 5px 15px 0px rgba(10, 9, 10, 0.13);
  box-shadow: 0px 5px 15px 0px rgba(10, 9, 10, 0.13);
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
}

/* Tipografía*/
h1 {
  font-size: 3.8rem;
  font-weight: 700;
}

h2 {
  font-size: 2.8rem;
  font-weight: 400;
}

h3 {
  font-size: 1.8rem;
}

h1,
h2,
h3 {
  text-align: center;
  color: var(--secundario);
}

/* Titulos */
.titulo span {
  font-size: 2rem;
}

/* Utilidades*/
.w-sm-100 {
    width: 100%;
}

@media (min-width: 768px) {
    .w-sm-100 {
        width: auto;
    }
}

.flex {
    display: flex;
}

.alinear-derecha {
    justify-content: flex-end;
}

/*Navegación Principal*/
.nav-bg {
  background-color: var(--secundario);
}
.navegacion-principal {
  font-weight: 400;
  display: flex;
  flex-direction: column;
}
/*Celular*/
@media (min-width: 480px) {
}

/*Tablet*/
@media (min-width: 768px) {
  .navegacion-principal {
    flex-direction: row;
    justify-content: space-between;
  }
}

/*Laptop*/
@media (min-width: 1140px) {
}

/*Otro*/
@media (min-width: 1400px) {
}

.navegacion-principal a {
  display: block;
  text-align: center;
  color: var(--hueso);
  text-decoration: none;
  font-size: 2rem;
  padding: 1rem;
}

.navegacion-principal a:hover {
  background-color: var(--beige);
  font-weight: 700;
  color: var(--primario);
}

/*imagen Hero*/
.hero {
  background-image: url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 410px;
  position: relative;
  margin-bottom: 2rem;
}

.contenido-hero {
  position: absolute;
  background-color: rgb(88 24 69 / 60%);
  width: 100%;
  height: 100%;

  /*Alinea vertical y horizontal*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contenido-hero h2,
.contenido-hero p {
  color: var(--hueso);
}

.contenido-hero .ubicacion {
  display: flex;
  align-items: flex-end;
}

/* Servicios */
@media (min-width: 768px) {
  .servicios {
    display: grid;
    /* grid-template-columns: 300px 300px;
    grid-template-rows: 200px 800px;*/
    /* grid: 200px 800px/ repeat(3, 1fr);*/
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem; /*separaciones*/
  }
}

.servicio {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.servicio h3 {
  color: var(--primario);
  font-weight: 400;
}

.servicio p {
  line-height: 2;
  text-align: center;
}

.servicio .iconos {
  height: 15rem;
  width: 15rem;
  background-color: var(--beige);
  border-radius: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* Contacto*/
.formulario {
  background-color: var(--beige);
  width: min(60rem, 100%); /* Utiliza el valor más pequeño*/
  margin: 0 auto;
  padding: 2rem;
  border-radius: 1rem;
}

.formulario fieldset {
  border: none;
}

.formulario legend {
  text-align: center;
  width: 100%;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 2rem;
  color: var(--primario);
  display: block;
}

@media (min-width: 768px) {
    .formulario{
        max-width: 800px;
        margin: 0 auto;
    }
}


.contenedor-campo{

}

.campo{
    margin-bottom: 1rem;
}

.campo label{
    color: gray;
    font-weight: 400;
    margin-bottom: .5rem;
    display: block;
}

.input-text {
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: 1.5rem;
}
