:root {
    --primario: #c86b85;
    --secundario: #e6a4b4;
    --beige: #f3d7ca;
    --hueso: #f5eee6;

}

/*-------------------------------*/
/*Ponerlo siempre en los proyectos para mejor rendimiento*/
html{
    font-size: 62.5%;
}

body{
    font-size: 16px; /*1 rem = 10px*/
    font-family: 'Poppins', sans-serif;
}
/*-------------------------------*/

.titulo {
    text-align: center;
    font-size: 3.8rem;
    color: var(--secundario);
    font-weight: 700;
}

.titulo span{
    font-size: 2rem;
}

.contenedor {
    width: 120rem;
    margin: 0 auto;
}

.nav-bg{
    background-color: var(--secundario);
}
.navegacion-principal {
   padding: 1rem;
   font-weight: 700;
}

.navegacion-principal a {
    color: var(--hueso);
    text-decoration: none;
}