:root {
    --primario: #c86b85;
    --secundario: #e6a4b4;
    --beige: #f3d7ca;
    --hueso: #f5eee6;

}

/*-------------------------------*/
/*Ponerlo siempre en los proyectos para mejor rendimiento*/
html{
    font-size: 62.5%;
}

body{
    font-size: 16px; /*1 rem = 10px*/
    font-family: 'Poppins', sans-serif;
}
/*-------------------------------*/

.titulo {
    text-align: center;
    font-size: 3.8rem;
    color: var(--secundario);
    font-weight: 700;
}

.titulo span{
    font-size: 2rem;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.nav-bg{
    background-color: var(--secundario);
}
.navegacion-principal {
   font-weight: 400;
   display: flex;
   flex-direction: column;
}
/*Celular*/
@media (min-width: 480px) {
    
}

/*Tablet*/
@media (min-width: 768px) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;
    }
}

/*Laptop*/
@media (min-width: 1140px) {
    
}

/*Otro*/
@media (min-width: 1400px) {
    
}


.navegacion-principal a {
    display: block;
    text-align: center;
    color: var(--hueso);
    text-decoration: none;
    font-size: 2rem;
    padding: 1rem;
    
}

.navegacion-principal a:hover{
    background-color: var(--beige);
    font-weight: 700;
    color:var(--primario);
}


.hero{
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}